In [20]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

In [21]:
# Load the dataset from your project folder
df = pd.read_excel('../data/Coffee Shop Sales.xlsx')
df.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

In [22]:
df.isnull().sum()

transaction_id      0
transaction_date    0
transaction_time    0
transaction_qty     0
store_id            0
store_location      0
product_id          0
unit_price          0
product_category    0
product_type        0
product_detail      0
dtype: int64

In [25]:
# Sample 5000 rows from the dataframe
df_sample = df.sample(n=5000, random_state=42)

# Convert dates and times to appropriate datetime objects if they aren't already
df_sample['transaction_date'] = pd.to_datetime(df_sample['transaction_date'])
df_sample['transaction_time'] = [pd.Timedelta(hours=t.hour, minutes=t.minute, seconds=t.second) for t in df_sample['transaction_time']]

# OneHotEncode categorical variables
ohe = OneHotEncoder()
categorical_columns = ['store_location', 'product_category', 'product_type', 'product_detail']
encoded_features = ohe.fit_transform(df_sample[categorical_columns]).toarray()
encoded_feature_names = ohe.get_feature_names_out(categorical_columns)

encoded_features_df = pd.DataFrame(encoded_features, columns=encoded_feature_names)

# Drop original columns and add encoded features
df_sample.drop(categorical_columns, axis=1, inplace=True)
df_sample = pd.concat([df_sample, encoded_features_df], axis=1)

# Standard scale numerical features
scaler = StandardScaler()
df_sample['unit_price'] = scaler.fit_transform(df_sample[['unit_price']])

# Save the preprocessed 5000 rows into a new Excel file
df_sample.to_excel('../data/Updated_CoffeeSales.xlsx', index=False)

print("The new file has been saved as 'Updated_CoffeeSales.xlsx' in the 'data' directory.")

The new file has been saved as 'Updated_CoffeeSales.xlsx' in the 'data' directory.

In [26]:
updated_cofee_sales = pd.read_excel('../data/Updated_CoffeeSales.xlsx')
updated_cofee_sales.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,product_id,unit_price,store_location_Astoria,store_location_Hell's Kitchen,store_location_Lower Manhattan,...,product_detail_Spicy Eye Opener Chai,product_detail_Spicy Eye Opener Chai Lg,product_detail_Spicy Eye Opener Chai Rg,product_detail_Sugar Free Vanilla syrup,product_detail_Sustainably Grown Organic,product_detail_Sustainably Grown Organic Lg,product_detail_Sustainably Grown Organic Rg,product_detail_Traditional Blend Chai,product_detail_Traditional Blend Chai Lg,product_detail_Traditional Blend Chai Rg
0,116867.0,2023-06-03,0.586551,2.0,5.0,38.0,0.137778,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,119521.0,2023-06-05,0.737257,1.0,5.0,79.0,0.137778,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,105519.0,2023-05-23,0.705752,3.0,5.0,32.0,-0.146605,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29542.0,2023-02-21,0.653426,3.0,5.0,38.0,0.137778,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,127222.0,2023-06-12,0.391019,1.0,8.0,36.0,0.137778,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN